<form action="/zobha_products/upload_variants_csv" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Upload Zobha Variants CSV</legend>
    <br>
    <input id="attachment" name="attachment" type="file" />

    <input type="submit" value="Upload">
  </fieldset>
</form>
