<!-- TODO:: Delete File -->
<!-- <form action="/ellie_staging/new_product_csv" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Create A New Ellie Staging Product</legend>
    <br>
    <input id="attachment" name="attachment" type="file" />

    <input type="submit" value="Upload">
  </fieldset>
</form> -->
