<form action="/marika_products/upload_products_csv" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Upload Products CSV</legend>
    <br>
    <input id="attachment" name="attachment" type="file" />

    <input type="submit" value="Upload">
  </fieldset>
</form>
